@import "../../../../../themes/default.less";

.whole {
  width: 100%;
  height: 100%;

  .wrapper {
    min-width: @default-inner-page-max-width + 50px;

    .form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .addIcon {
        margin-top: 5px;
        color: @default-yellow-light;
        font-size: 30px;
      }
    }

    .footer {
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      Button {
        margin-left: 40px;
      }
    }
  }
}
