@import "../../themes/default.less";

.whole {
  height: @moviedetails-height;
  width: 100%;
  display: flex;

  .image-container {
    margin-top: @header-margin;
    margin-left: @header-margin;
    height: 430px;
    width: 430px;
    box-shadow:0px 10px 26px #181818;

    .image {
      width: 100%;
      height: 100%;
    }
  }

  .details-container {
    display: flex;
    flex-direction: column;
    margin-top: @header-margin - 10px;
    margin-left: @header-margin + 30px;
    margin-right: @header-margin;
    height: 430px;
    width: 100%;

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .name {
        font-weight: 400;
        color: @moviedetails-name-color;
        font-size: @moviedetails-name-font-size;
      }

      .type {
        margin-top: 2px;
        color: @moviedetails-type-color;
        font-size: @moviedetails-type-font-size;
      }

      .buy-button {
        margin-top: 10px;
      }
    }

    .year-time-container {
      margin-top: @header-margin;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: @moviedetails-type-font-size + 1px;
      color: @default-yellow;

      .limit {
      }

      .dot {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: @moviedetails-dot-color;
        margin-left: 13px;
        margin-right: 13px;
      }

      .year {
      }

      .time {
      }
    }

    .score {
      margin-top: @header-margin - 5px;
      color: @default-yellow;
      font-size: @moviedetails-score-size;
    }

    .rater {
      display: flex;
      flex-direction: row;
      width: 100%;

      .trangle {
        margin-top: 20px;
        margin-left: 10px;
        width: 30px;
        background-image: url("../../assets/Triangle/Triangle.svg");
        background-repeat: no-repeat;
      }

      .text {
        width: 120px;
        margin-top: 13px;
        font-size: @moviedetails-text-font-size;
        color: @default-white;
      }

      .rater {
        margin-left: 30px;
        margin-top: 7px;
      }
    }

    .roles-container {
      margin-top: 20px;
      width: 100%;
      color: @default-white;
      font-size: @moviedetails-text-font-size;
      letter-spacing: 6px;
      display: flex;
      flex-direction: row;

      .director {
        display: flex;
        flex-direction: column;
      }

      .staring {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
      }

      .all-avators {
        margin-top: 20px;
        display: flex;
        flex-direction: row;

        .avator-container {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 20px;

          .img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .i-like {
      margin-top: 30px;
      color: @default-yellow;
      font-size: @moviedetails-text-font-size;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
