@import "../../themes/default.less";

.wholeBody {
  width: 100%;
  height: 100%;
  //background-color: @default-background-color;
  display: flex;

  .sider {
    min-width: @sider-width;
    min-height: 1000px;
  }

  .bodyContent {
    background-image: url("../../assets/Background/Background.svg");
    flex-grow: 1;
    flex-shrink: 0;
    padding: @default-with-sider-padding;
  }
}
