// ----------default-----------
@default-page-width: 1200px;
@default-sider-width: 330px;
@default-sider-height: 1000px;
@default-radius:4px;
@default-font:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial, sans-serif;
@default-background-color: rgba(39, 39, 41, 0.95);
@default-foreground-color: rgba(33, 33, 34, 0.8);
@default-yellow: #FFEB9E;
@default-white: rgba(255, 255, 255, 0.8);
@default-gray: rgba(192, 192, 192, 0.8);
@default-yellow-shadow: 2px 2px 36px #FFF8DE;
@default-yellow-light: rgba(255, 249, 198, 0.82);
@default-space-between: 20px;
@default-label-font-size: 18px;
@default-label-letter-spacing: 3px;

// ----------Header-----------
@header-height: 200px;
@header-margin: 32px;
@header-item-margin: 60px;
@header-nav-shadow: 0px -1px 0 #545454;
@header-down-shadow: 0px 1px 0 #545454;
@header-logo-font-size: 36px;
@header-nav-color: #E2E2E2;

// ----------ImageBoard-----------
@imageboard-height: 520px;

// ----------RecentMovies-----------
@recentmovies-height: 300px;

// ----------Button-----------
@button-width:105px;
@button-height:34px;
@button-hover-yellow-shadow: 0px 0px 8px rgba(255, 248, 222, 0.5);
@button-hover-gray-shadow: 0px 0px 8px rgba(192, 192, 192, 0.8);

// ---------MovieDetails----------
@moviedetails-height: 700px;
@moviedetails-name-color: #ffffff;
@moviedetails-name-font-size: 26px;
@moviedetails-type-color: #C5C5C5;
@moviedetails-type-font-size: 18px;
@moviedetails-dot-color: #B9B9B9;
@moviedetails-score-size: 36px;
