@import "../../../themes/default.less";

.whole {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .input {
    width: 380px;
  }

  .underline {
    margin-top: 20px;
    width: 480px;
    height: 3px;
    background-color: @default-yellow;
  }

  .main-body {
    margin: @header-margin;
    padding: @header-margin;
    background-color: @default-foreground-lighter-color;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .picker-container {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;

      .text {
        color: @header-nav-color;
        font-size: @default-label-font-size
      }

      .time-picker {
        display: flex;
        flex-direction: row;
        align-items: center;

        .datepicker {
          width: 200px;
          margin-left: @header-margin;

        }
      }

      .hall-picker {
        display: flex;
        flex-direction: row;
        align-items: center;

        .hallpicker {
          margin-left: @header-margin;
        }
      }
    }

    .timeline {
      margin: @header-margin;
    }

    .cards {
      margin-top: @header-item-margin;
      display: flex;
      flex-direction: column;

      .card {
        width: @arrangeinfocard-width;
        height: 100%;
        margin-top: 6px;
      }
    }
  }
}
