@import "../../themes/default.less";

.whole {
  height: @recentmovies-height;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header {
    font-size: @default-label-font-size;
    letter-spacing: @default-label-letter-spacing;
    color: @default-yellow;
    margin: @header-margin @header-margin 0 @header-margin;
  }

  .image-board {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .image-container {
      height: 100%;
      display: flex;
      align-items: center;

      .image {
        padding: 10px;
        width: 200px;
      }
    }
  }
}
