@import "../../themes/default.less";

.whole {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: @default-foreground-lighter-color;

  .image-container {
    width: 420px;
    background-color: #61dafb;
  }

  .right {
    width: 100%;
    .seletors {

    }

    .picker-info{
      .picker {

      }
      .information {

      }
    }
  }
}
